* {
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h1 {
    color: #f19f1a;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}


strong {
    color: black;
    font-size: 20px;
    text-align: start;
    font-weight: bold;
    text-align: start;
}

#proyecto p {
    font-weight: lighter;
    text-align: start;
    font-size: medium;
}

#photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

#photoExtremo {
    width: 300px;
    height: 150px;
}

#FotoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    gap: 10px;
}

.info-personal {
    display: flex;
    align-items: center;
    gap: 20px;
}

#divIP {
    box-shadow:
        0 4px 6px black,
        0 0 0 4px #f19f1a inset;
    padding: 2%;
    transition: background-color 0.3s;
    text-align: center;
}

#IP {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}

#tabla1 {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 20px 0;
    font-size: 18px;
    box-shadow: 0 2px 10px black;
    border-color: black;
}

#tabla1 th,
tabla1 td {
    padding: 12px 15px;
    border-bottom: 1px solid black;
}

#tabla1 tr:hover {
    background-color: #ffce7e;
    transition: background-color 0.3s;
}

#tabla1 th {
    text-transform: uppercase;
    background-color: #f19f1a;
    color: black;
}

.instituto-logo {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
}


.subtitle {
    text-transform: uppercase;
    color: #f19f1a;
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 8px;
}

main {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 2;
    max-width: 12000px;
    margin: 0 auto;
    padding: 20pxs;
}

#informacion {
    grid-column: 1/7;
    grid-row: 1;
}

#educacion {
    grid-column: 1/4;
    grid-row: 2;
}

#proyectos {
    grid-column: 4/7;
    grid-row: 2;
}

#habilidades {
    grid-column: 1/7;
    grid-row: 3;
}

#contacto {
    grid-column: 1/7;
    grid-row: 4;
}

section {

    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px;

    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */

    /* relleno (espacio interno) de 
    1.5% en la parte superior e inferior y 
    0.8% a los lados derecho e izquierdo. */

    padding: 1.5% 0.8%;

    /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
    dándoles un valor específico de 1.2% para esos lados. */

    padding-left: 1.2%;
    padding-right: 1.2%;


    /* sombra a un elemento */

    -webkit-box-shadow: 3px 3px 1px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);

}

nav a:hover {
    background-color: #f19f1a;
}

nav li a:hover {
    color: white;
    background-color: #f19f1a;
}

li a {
    text-decoration: none;
    color: #f19f1a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

li {
    list-style-type: none;
    border-bottom: 2px solid #f19f1a;
    padding: 10px;
    text-align: center;
    background-color: white;
    font-size: 25px;
}

header nav {
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

nav ul {
    padding-top: 1vh;
    background-color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

nav ul a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #f19f1a;
}

header div {
    display: flex;
    align-items: center;
    gap: 75px;
    margin-top: 80px;
}

#habilidades ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    justify-content: center;
}

.habi {
    transition: filter 0.3 ease;
    padding-bottom: 10px;
}

.habi:hover {
    filter: brightness(0) saturate(100%) invert(33%) sepia(87%) saturate(507%) hue-rotate(355deg) brightness(102%) contrast(104%);
    border-bottom: 8px solid #f19f1a;
}

#TituloP1 {
    text-align: start;
}

#contacto {
    transition: background-color 0.3s;
    margin-bottom: 0px;
}

#contacto:hover,
#contacto:focus-within {
    background-color: black;
}

.contacto-contenedor {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;

}

.contacto-form {
    background-color: white;
    padding: 60px;
    border-radius: 20px;
    box-shadow:
        0 4px 6px black,
        0 0 0 4px #f19f1a inset;
    max-width: 500px;
    width: 50%;
    margin: auto;
    margin-left: 100px;
    transition: background-color 0.3s;
}


.contacto-imagen {
    background-color: white;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 4px 6px black,
        0 0 0 4px #f19f1a inset;
    width: 50%;
    height: max-content;
    margin-top: 20%;
    margin-left: 10%;
    align-content: center;
    transition: background-color 0.3s;
}

.imagen-encuentro {
    width: 200px;
    height: 150px;
    margin: 10px;
    align-content: center;
}


#divIP {
    box-shadow:
        0 4px 6px black,
        0 0 0 4px #f19f1a inset;
    padding: 2%;
    transition: background-color 0.3s;
    text-align: center;
}

#proyectos .Proyecto-T {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px #f19f1a;
    ;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.contacto-form:hover,
.contacto-info:hover,
.contacto-imagen:hover,
#divIP:hover,
#proyectos .Proyecto-T:hover,
.contacto-form:focus-within,
.contacto-info:focus-within,
.contacto-imagen:focus-within,
#divIP-within,
#proyectos .Proyecto-T-whithin {
    background-color: #f19f1a;

}

.contacto-info {
    width: 80%;
    text-align: center;
    box-shadow:
        0 4px 6px black,
        0 0 0 4px #f19f1a inset;
    border-radius: 12px;
    background-color: white;
    margin: auto;
    transition: background-color 0.3s ease;
}

.contacto-form label {
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.contacto-form #nombre,
.contacto-form #email,
.contacto-form select,
.contacto-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-button {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.contact-form .submit-button:hover {
    background-color: black;
}

.mapaC {
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

#contacto p {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #f19f1a;
    color: black;
    padding: 25px;
    font-size: 20px;
}

footer a {
    color: black;
}

footer p {
    margin: auto;
}

@media (max-width: 800px) {
    .contacto-contenedor {
        grid-template-columns: 1fr;
    }

    .subtitle {
        text-align: start;
    }

    main {
        grid-template-columns: 1fr;
    }

    #proyectos {
        grid-column: 1 / 7;
        grid-row: 3;
    }

    #habilidades {
        grid-column: 1 / 7;
        grid-row: 4;
    }

    #contacto {
        grid-column: 1 / 7;
        grid-row: 5;
    }

    #habilidades ul {
        grid-template-columns: 1fr;
        width: 100%;
    }

    header nav ul {
        flex-direction: row;
    }

    #FotoPrincipal img {
        width: 200px;
        height: 200px;
    }

    .contacto-form,
    .contacto-info {
        width: 70%;
        margin: 0;
    }

    .contacto-imagen {
        margin-top: 0;
        margin-left: 0;
    }

}